{% extends 'base.html.twig' %}

{% block title %}Mi cuenta - La Boutique Francaise{% endblock %}

{% block content %}
    <h1>Mi cuenta</h1>
    Bienvenido {{ app.user.firstname }} a mi cuenta. Este es un espacio que permitira genera toda la informacion personal.
    <hr>
    <a href="{{ path('account_password') }}">Modificar mi contraseña</a><br/>
    <a href="{{ path('account_address') }}">Administrar mis direcciones</a><br/>
    - Mis pedidos<br/>
    <hr>

{% endblock %}
