{% extends 'base.html.twig' %}

{% block title %}Editar contraseña - La Boutique Francaise{% endblock %}

{% block content %}
    <h1>Editar mi contraseña</h1>
    <a href="{{ path('account') }}">Regresar a mi cuenta</a><br/>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>

{% endblock %}