{% extends 'base.html.twig' %}

{% block title %}Nuestros productos - La Boutique Francaise{% endblock %}

{% block content %}

    <h1>Nuestros productos</h1>
    <div class="row product-container">
        {% for product in products %}
            <div class="col-md-4">
                <div class="product-item text-center">
                    <img src="/uploads/{{ product.illustration }}" alt="" class="img-fluid">
                    <h5>{{ product.name }}</h5>
                    <span class="product-subtitle">{{ product.subtitle }}</span>
                    <span class="product-price">{{ (product.price) |number_format(2,'.',',')  }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
